
.modal-content-body {
    padding: 20px;
}

.modal-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #e9ecef;
}

.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
}

button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
}

.modal-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}

    .modal-backdrop.fade {
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.25);
    }

.modal-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
}

.modal .modal-content {
    border-radius: 0;
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.125);
    box-shadow: 0 2px 3px rgba(0,0,0,0.125);
    border: 0;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 1.75rem auto;
    }
}

@media (min-width: 992px) {
    .modal-lg {
        max-width: 800px;
    }
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 600px;
        margin-top: 70px;
        margin-right: auto;
        margin-bottom: 30px;
        margin-left: auto;
    }
}

@media (min-width: 992px) {
    .modal-lg {
        max-width: 1024px;
    }
}

.modal.fade .modal-dialog {
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    -webkit-transform: translate(0, -25%);
    transform: translate(0, -25%);
}

.modal.show .modal-dialog {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
}

.fade.show {
    opacity: 1;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal {
    top: 40px;
}

    .modal .modal-content {
        border-radius: 0;
        -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.125);
        box-shadow: 0 2px 3px rgba(0,0,0,0.125);
        border: 0;
    }

.modal-content {
    border-radius: 0;
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.125);
    box-shadow: 0 2px 3px rgba(0,0,0,0.125);
    border: 0;
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

.modal-header {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.modal .modal-content .modal-header {
    padding: 20px;
    border-top: 0;
    box-shadow: inset 0 1px 0 0 #E0E0E0;
}

    .modal .modal-content .modal-header .modal-title {
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        color: #000;
    }

    .modal .modal-content .modal-header .close {
        /* font-size: 20px; */
        padding: 0;
        margin: 0;
        line-height: initial;
        color:#000;
    }

        .modal .modal-content .modal-header .close svg {
            top: -2px;
        }

.modal .modal-content .modal-body {
    padding: 0;
}

.modal .modal-content .modal-footer {
    padding: 20px;
    border-top: 0;
    box-shadow: inset 0 1px 0 0 #E0E0E0;
}

    .modal .modal-content .modal-footer > .col-auto {
        padding: 0
    }

    .modal .modal-content .modal-footer .btn:not(:last-child) {
        margin-right: 5px;
    }

    .modal .modal-content .modal-footer .btn:not(:first-child) {
        /* margin-left: 5px; */
    }

.modal-backdrop.fade {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.25);
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 600px;
        margin-top: 70px;
        margin-right: auto;
        margin-bottom: 30px;
        margin-left: auto;
    }
}

@media (min-width: 992px) {
    .modal-lg {
        max-width: 1024px;
    }
}
