.ui-textarea {
    font-weight: 400;
    line-height: 24px;
    text-transform: initial;
    letter-spacing: initial;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #c1c7d0;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #212121;
    display: block;
    margin: 0;
    max-width: unset;
    min-height: 0;
    padding: 5px 12px;
    width: 100%;
    max-width: 100%;
    outline: none;
}

    .ui-textarea:focus {
        border: 1px solid #0052cc;
    }
