.align-items-start {
    -ms-flex-align: start !important;
    align-items: flex-start !important;
}
.ui-title-bar-container {
    padding: 15px 30px;
}
.ui-title-bar-container {
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 3px 6px 0 rgba(33,33,33,.05);
    position: relative;
}