.paginate {
    padding: 15px 0;
}

.paginate .page-item {
    margin: 0 3px;
}

.paginate .page-arrow .page-link {
    padding: 8px 0;
    width: 36px;
}

.paginate .page-item .page-link {
    color: #212121;
    border-radius: 3px;
    min-width: 36px;
    min-height: 36px;
    margin: 0;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
}

.paginate .page-item.active .page-link {
    z-index: 1;
    background: #fff;
    border-color: #287eca;
    cursor: default;
}

@media(max-width:767px) {
    .paginate .page-item.hidden-mobile {
        display: none;
    }
}
.pagination-sm .page-item .page-link {
    padding: 0.5rem 0.75rem;
    font-size: 12px;
    line-height: 1.5;
}