.modal{
    top: 40px;
}
    .modal .modal-content {
        border-radius: 0;
        -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.125);
        box-shadow: 0 2px 3px rgba(0,0,0,0.125);
        border: 0;
    }
.modal-content {
    border-radius: 0;
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.125);
    box-shadow: 0 2px 3px rgba(0,0,0,0.125);
    border: 0;
}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.modal-header {
    border-bottom-color: #f4f4f4;
    border-top-left-radius: 0!important;
    border-top-right-radius:0!important;
}
.modal .modal-content .modal-header {
    padding: 20px;
    border-top: 0;
    box-shadow: inset 0 1px 0 0 #E0E0E0;
}

.modal .modal-content .modal-header .modal-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: #0747A6;
    text-transform: uppercase;
}

.modal .modal-content .modal-header .close {
    /* font-size: 20px; */
    padding: 0;
    margin: 0;
    line-height: initial;
}

.modal .modal-content .modal-header .close svg {
    top: -2px;
}

.modal .modal-content .modal-body {
    padding: 0;
}

.modal .modal-content .modal-footer {
    padding: 20px;
    border-top: 0;
    box-shadow: inset 0 1px 0 0 #E0E0E0;
}

.modal .modal-content .modal-footer>.col-auto {
    padding: 0
}

.modal .modal-content .modal-footer .btn:not(:last-child) {
    margin-right: 5px;
}

.modal .modal-content .modal-footer .btn:not(:first-child) {
    /* margin-left: 5px; */
}

.modal-backdrop.fade {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.25);
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 600px;
        margin-top: 70px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
    }
}

@media (min-width: 992px) {
    .modal-lg {
        max-width: 1024px;
    }
}